<ion-content [fullscreen]="true" class="bg">
  <ion-slides pager="true">
    <ion-slide>
      <ion-text>
        <img src="/assets/slides/logo.png"/>
      <h1 class="h1">Bem vindo ao app FYN </h1>
      <h2 class="h2">Somos uma plataforma multifuncional.</h2>
      <p class="p" margin-left>Dá uma olhada no que temos a oferecer</p>
      </ion-text>
      <span class="span">
        <p (click)="finish()">Pular</p>
      </span>
    </ion-slide>
  

    <ion-slide>
      <ion-text>
        <span class="spantp">
        <h1 class="h1-2">Guia de Bares</h1>
      </span>
        <img src="/assets/slides/location.png"/>
        <h2 class="h2-2">Guia de bares interativo. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>

  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>

    <ion-slide>
      <ion-text>
        <img class="chat2" src="/assets/slides/recentes.png"/>
        <h2 class="h2-2">Os primeiros bares que aparecem aqui são os com atividade mais recente.  </h2>
        
  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>

    <ion-slide>
      <ion-text>
        <img class="chat2" src="/assets/slides/interativo.png"/>
        <h2 class="h2-2">Navegue pelo mapa e escolha o bar que deseja.</h2>
        
  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>

    <ion-slide>
      <ion-text>
      <img class="chat2"  src="/assets/slides/seleb.png"/>
      <h2 class="h2-2">Ao clicar no bar, arrastando pra cima você pode ver os últimos comentários ou entrar no bar para interagir. </h2>
      
  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>

    <ion-slide>
      <ion-text>
        <span class="spantp">
        <h1 class="h1-2"> CONVERSE </h1>
      </span>
        <img src="/assets/slides/chat.png"/>
        <h2 class="h2-2">Chat com outros usuários que frequentam bares e baladas.</h2>

  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>
    
    <ion-slide>
      <ion-text>
        <img class="chat2" src="/assets/slides/chat2.png"/>
        <h2 class="h2-2">Para isso basta clicar no icone na tela inicial do aplicativo.</h2>

  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>


    <ion-slide>
      <ion-text>
        <span class="spantp">
        <h1 class="h1-2"> Promoções </h1>
      </span>
        <img src="/assets/slides/promotion.png"/>
        <h2 class="h2-2">Promoções e descontos exclusivos para usuários.</h2>

  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>
    
    <ion-slide>
      <ion-text>
        <span class="spantp">
      </span>
        <img class="chat2" src="/assets/slides/promosfyn.png"/>
        <h2 class="h2-2">Ao clicar em Promos FYN você visualiza a lista completa.</h2>
        
  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>

    <ion-slide>
      <ion-text>
        <span class="spantp">
        <h1 class="h1-2"> Roleta da Sorte </h1>
      </span>
        <img src="/assets/slides/lucky-wheel.png"/>
        <h2 class="h2-2">Em breve.</h2>
        
  </ion-text>
  <span class="span">
    <p (click)="finish()">Pular</p>
  </span>
    </ion-slide>

    <ion-slide>
      <ion-text>
        <span class="spantp">
        <h1 class="h1-2"> Pub Crawl </h1>
      </span>
        <img src="/assets/slides/pubcrawl.png"/>
        <h2 class="h2-2">Em breve.</h2>

    <ion-button color="dark" (click)="finish()">Começar</ion-button>
  </ion-text>
  </ion-slide>
  </ion-slides>


</ion-content>